<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>914774860771-1in188fgfp90gnjcv64nlb434jq0a6rf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.914774860771-1in188fgfp90gnjcv64nlb434jq0a6rf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>914774860771-d5cqtm733p53glidgbni37821t3g26gf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBVTs8uOHP92geCOF4UHZBO271Q4n3uBro</string>
	<key>GCM_SENDER_ID</key>
	<string>914774860771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.boilerplateflutter</string>
	<key>PROJECT_ID</key>
	<string>boilerplate-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>boilerplate-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914774860771:ios:94197ca4f3e6379a0db6d6</string>
</dict>
</plist>